body{
    background-color: yellow;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(185, 4, 116);
    border: 2px black solid;
}

header > img{
    height: 100px;
    width: 130px;
}

header > nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 320px;
    padding-top: 20px;
    font-size: 25px;
}

header nav > a:link{
    text-decoration: none;
    color: blue;
}

header nav > a:hover{
    text-decoration: underline;
    color: red;
}

.main{
    display: flex;
    justify-content: space-between;
}

article section{
    flex: 3;
    background-color: rgb(13, 248, 236);
    border: 2px black solid;
    width: 90%;
    height: 450px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 20px;
}

article aside{
    flex: 1;
    background-color: rgb(235, 35, 9);
    border: 2px black solid;
    width: 150px;
    height: 450px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 20px;
}

footer{
    background-color: rgb(81, 255, 0);
    border: 2px black solid;
    height: 85px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 25px;
}
   